# Compiled Files
/dist
/show-wav-data
/wavinfo
/wavsplit

# Cabal Sandbox
/.cabal-sandbox
/cabal.sandbox.config

# Research - Don't include your research in the repository. Save it elsewhere.
# The same applies to the data that you have for your large audio files. Audio files
# do not belong in the repository. Or, atleast not this repository.
/research
/data

# Temp Files
*~
.*.sw[a-p]
*.out
